.lancamentos{
    padding: 50px;
    text-align: center;
}

.lancamentos h2 {
    font-family: "Poppins";
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px;
}

.lancamentos .container {
    display: grid;
    grid-template-columns: 200px auto auto;
    gap: 10px;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap:24px;
    margin-right: 20px;
}

.col-1 img {
    width: 100px;
    height: 150px;
}

.col-2 {
    display: flex;
    justify-content: center;
    margin-right: 80px;
}

.col-2 img {
    width: 500px;
    height: auto;
}

.col-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    max-width: 340px;
}

.cores {
    display: flex;
    gap:10px;
}

.lancamentos button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}


.btn-pink{
    background-color: #de147f;
}

.btn-roxo{
    background-color: #33133a;
}

.btn-laranja{
    background-color: #e4500b;
}

.btn-vermelho{
    background-color: #da0909;
}


.lancamentos h3 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

p.cores {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;

}


p.titulo-descricao {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;

}

p.descricao {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: justify;
}

.estrelas {
    display: flex;
    gap: 2px;
    margin-bottom: 10px;
}
  
.estrela {
    width: 25px;
    color: #F1B202;
}