.banner{
    width: 100%;
    margin-bottom: 50px;
    padding-top: 60px;
}

.banner img{
    border-top: solid 5px #c1b7d0;
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 576px) {
    .banner {
        margin-bottom: 10px;
    }
}