.bag-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.bag-page h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  color: black;
}

.empty {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #6A4FB6;
}

.bag-item {
  display: flex;
  gap: 20px;
  background: #E5DCF1;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 25px;
  align-items: center;
  border: 1px solid #E2D6FF;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bag-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(106, 79, 182, 0.15);
}

.info-img {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.info-img img {
  width: 120px;
  height: auto;
  flex-shrink: 0;
}

.info{
  flex: 2;
  min-width: 350px;
}

.bag-page .variation {
  font-size: 16px;
  color: #3d3d3d;
  margin-bottom: 6px;
}

.bag-page .price {
  font-size: 22px;
  font-weight: 600;
  color: #292929;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  max-height: 32px;
  margin-top: 10px;
}

.quantity button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #6A4FB6;
  background: white;
  color: #6A4FB6;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
  margin: 0;
}

.quantity button:hover {
  background: #6A4FB6;
  color: white;
}

.quantity span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 20px;
  height: 32px;
  line-height: 32px;
}

.remove {
  background: transparent;
  text-align: end;
  margin-right: 10px;
  border: none;
  color: #6A4FB6;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.remove:hover {
  text-decoration: underline;
  background-color: transparent;
}

.checkout-area{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 20px;
}

.total {
  background: #E5DCF1;
  border: 1px solid #E2D6FF;
  border-radius: 16px;
}

.bag-page h4 {
  font-size: 30px;
  color: black;
  font-weight: 600;
}

.bag-page h5 {
  font-size: 16px;
}

.checkout-btns {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.checkout{
  background-color: black;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 30px;
  cursor: pointer;
}

.add-products{
  background-color: transparent;
  border: none;
  color: #a281ce;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}

.add-products:hover {
  background-color: transparent;
  color: #292929;
  text-decoration: underline;
}


@media (max-width: 576px) {
  .bag-page {
    max-width: 380px;
  }
  .bag-item {
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    gap: 10px;
  }

  .info-img img{
    width: 80px;
    height: auto;
    margin: 0;
  }

  .info{
    flex: none;
    min-width: auto;
    width: 100%;
    text-align: left;
  }

  .info h5 {
    font-size: 10px;
  }

  .bag-page .variation {
    font-size: 10px;
    color: #3d3d3d;
    margin-bottom: 3px;
    margin-top: 6px;
  }

  .bag-page .price {
    font-size: 12px;
    font-weight: 600;
    color: #292929;
  }

  .quantity {
    gap: 2px;
    max-height: 12px;
    margin-top: 10px;
  }

  .quantity button {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
  }

  .quantity span {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
  }

  .remove {
    font-size: 12px;
    align-self: flex-end;
  }

  .bag-page h4 {
    font-size: 16px;
    color: black;
    font-weight: 600;
  }

  .checkout-area {
    margin-top: -5px;
  }

  .checkout{
    margin-top: -8px;
    font-size: 12px;
    padding: 10px 0;
}

  .add-products{
    font-size: 12px;
    margin-top: 10px;
}
}


