.bag-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.bag-page h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: black;
}

.empty {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #6A4FB6;
}

.bag-item {
  display: flex;
  gap: 20px;
  background: #E5DCF1;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 25px;
  align-items: center;
  border: 1px solid #E2D6FF;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bag-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(106, 79, 182, 0.15);
}

/* imagem */
.bag-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #E2D6FF;
}

.info {
  flex: 1;
}

.info h4 {
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #292929;
}

.variation {
  font-size: 14px;
  color: #6A4FB6;
  margin-bottom: 6px;
}

.price {
  font-size: 18px;
  font-weight: 600;
  color: #292929;
  margin-bottom: 12px;
}


.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity button {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid #6A4FB6;
  background: white;
  color: #6A4FB6;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.quantity button:hover {
  background: #6A4FB6;
  color: white;
}

.quantity span {
  font-size: 16px;
  font-weight: 500;
  min-width: 20px;
  text-align: center;
}


.remove {
  background: transparent;
  border: none;
  color: #6A4FB6;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.remove:hover {
  text-decoration: underline;
}


.total {
  margin-top: 40px;
  padding: 25px;
  background: #E5DCF1;
  border: 1px solid #E2D6FF;
  border-radius: 16px;
  text-align: center;
}

.total h3 {
  font-size: 26px;
  color: black;
  font-weight: 600;
}


@media (max-width: 576px) {
  .bag-item {
    flex-direction: column;
    text-align: center;
  }

  .bag-img {
    width: 140px;
    height: 140px;
  }

  .remove {
    margin-top: 10px;
  }
}
