@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    z-index: 10;
    background-color: #fefefe;
    width: 100%;
    border-bottom: 1px solid #b8b8b8;
}

.menu-small {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

}

.menu-small span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        border-radius: 2px;
}


.menu-mobile {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
}

.menu-mobile:show{
        display: flex;
}

header img {
    width: 100px;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    align-items:center;
    gap: 10px;
}

.menu-desktop {
    display: flex;
    gap: 20px;
}

header ul{
    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:  black;
}

header li{
    cursor: pointer;
    transition: .3s;
}

header li:hover {
    color:#B79ADC;
}

header:active {
    color: #B79ADC;
    font-weight: 600;
}


.bag {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bag-icon-header {
    width: 26px;
    height: auto;
    color: black;
}

.bag-count {
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: #B79ADC;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}


@media (max-width: 576px) {
    header {
        padding: 15px;
    }
    header img {
        width: 100px;
    }

    header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: rgb(247,247,247);
        padding: 10px 20px;
        border-radius: 10px;
        gap: 10px;

        &.show { display: flex; }
    }

    .menu-small {
        display: flex;
    }
    
    .menu-desktop {
        display: none;
    }

    .menu-small {
        display: flex;
    }

}
