.looks{
    padding: 50px;
    text-align: center;
    font-family: "Helvetica";
}

.looks-conteudo {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.looks h2 {
    font-family: "Poppins";
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px;
}

.looks button {
    font-size: 25px;
    font-weight: 700;
    color: white;
    border: none;
    background: none;
    bottom: 20px;
    left: 10px;
    cursor: pointer;
}

.looks button:hover {
    color: #605f5f;
}

.btn-labios {
    position: absolute;
}

.btn-olhos {
    position: absolute;

}

.btn-rosto {
    position: absolute;

}

.btn-cabelo {
    position: absolute;

}

.labios {
    position: relative;
    align-items: start;
}

.olhos {
    position: relative;

}

.rosto {
    position: relative;

}

.cabelo {
    position: relative;

}