*,
*::before,
*::after { box-sizing: border-box; }

.looks{
    padding: 50px;
    text-align: center;
    font-family: "Helvetica";
}

.looks h2 {
    font-family: "Poppins";
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}

.looks-conteiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.looks-conteiner> div {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.looks-conteiner img{
    width: 100%;
    height: auto;
    display: block;
}

.looks button {
    font-size: 25px;
    font-weight: 700;
    color: white;
    border: none;
    background: none;
    position: absolute;
    bottom: 20px;
    left: 15px;
    cursor: pointer;
}

.looks button:hover {
    color: #ae7cb9;
}

.btn-lips,
.btn-eyes,
.btn-face,
.btn-hair {
  position: absolute;
}

@media (max-width: 992px) {
  .looks button {
    font-size: 16px;
    bottom: 12px;
    left: 12px;
  }

  .looks h2 {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .looks-conteiner{
    grid-template-columns: 1fr 1fr;
  }


  .looks h2 {
    font-size: 21px;
  }

  .looks button {
    font-size: 12px;
    bottom: 10px;
    left: 10px;
  }

 .looks-conteiner img{
    width: 120px;
    height: auto;
    display: block;
 }
  
}
