.rating {
  justify-content: end;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.star {
  width: 20px;
}

.product-img {
  width: 250px;
  height: auto;
}


.product-card h4 {
  font-family: "Poppins";
  margin-bottom: 10px;
}

.color-buttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.color-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  border: none; 
  cursor: pointer;
  outline: none;
  padding: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
}

.color-btn.active {
  transform: scale(1.25);
}

.color-btn:hover {
  transform: scale(1.1);
}

.variation-title {
  font-family: "Poppins";
  font-size: 12px;
  text-align: center; 
  width: 100%;  
  margin: 10px 0; 
}


.selected-name {
  font-family: "Poppins";
  font-size: 10px;
  text-align: center;
}

.price {
  font-family: "Poppins";
}

.add-btn {
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.btn-icon {
  display: flex;
  flex-direction: row;
}

.product-card .bag-icon {
  color: white;
  width: 25px;
}

@media (max-width: 992px) {
  .product-img {
  width: 200px;
  height: auto;
}

.add-btn {
    width: 100%;
}
}

@media (max-width: 576px) {
.product-img {
  width: 150px;
  height: auto;
}

.add-btn {
    width: 160px;
}
.product-card h4 {
  font-size: 12px;
}
}