.products-grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.product-card {
  background: white;
  width: 280px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;


  h3 {
    margin-top: 15px;
    font-size: 18px;
  }

  .price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .add-to-cart {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: black;
    color: white;
    cursor: pointer;

    &:hover {
      background: #333;
    }
  }
}
