.products-grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.product-card {
  background: white;
  width: 280px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #dad6db;

  .price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .add-to-cart {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;

    &:hover {
      background: #333;
    }
  }
}

@media (max-width: 992px){
.products-grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}
}

@media (max-width: 576px) {
.products-grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
}
}