.product-img {
  width: 200px;
  height: auto;
}


.color-buttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.color-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%; // TORNA REDONDO
  border: 2px solid #ccc; // BORDA LEVE ELEGANTE
  cursor: pointer;
  outline: none;
  padding: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
}

.color-btn.active {
  border: 2px solid #000; // DESTAQUE QUANDO SELECIONADO
  transform: scale(1.15);
}

.color-btn:hover {
  transform: scale(1.1);
}
