*{
    padding: 0;
    margin: 0;
}

.background {
  width: 125%;
  justify-content: center;
  justify-items: center;
  position: absolute;
  z-index: -1;
  top: -20%;
  left: -20%;
}

.news{
    width: 100%;
    position: relative;
    justify-content: center;
    justify-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    overflow: hidden;
}

.news h2 {
    font-family: "Poppins";
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 15px;
}

.news .cards {
  display: flex;
}

.news .blog {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 50px;
}

.glossy-img,
.foundation-img,
.clean-img {
  width: 250px;
  height: auto;
}

.btn-glossy,
.btn-foundation,
.btn-clean {
  border: none;
  height: 80px;
  font-weight: 600;
  padding: 20px;
  background-color: rgb(243, 243, 243);
  cursor: pointer;

  &:hover {
    color:#9f7ec9;
    }
}

@media (max-width: 992px) {

  .news{
    width: 100%;
    position: rel1ative;
    justify-content: center;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    overflow: hidden;
}

  .background {
  width: 150%;
  justify-content: center;
  justify-items: center;
  position: absolute;
  z-index: -1;
  top: -20%;
  left: -20%;
}
  .news h2 {
    font-size: 32px;
  }

  .news .blog {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin: 20px;
}

  .glossy-img,
  .foundation-img,
  .clean-img {
  width: 180px;
  height: auto;
  }

  .btn-glossy,
.btn-foundation,
.btn-clean {
  border: none;
  height: 85px;
  padding: 15px;
}
}

@media (max-width: 576px) {

  .news h2 {
    font-size: 21px;
  }

  .glossy-img,
  .foundation-img,
  .clean-img {
  width: 180px;
  height: auto;
  }
}