*{
    padding: 0;
    margin: 0;
}

.news{
    width: 100%;
    justify-content: center;
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.news img{
    width: 100%;
    height: auto;
    display: block;
}

.news h2 {
    font-family: "Poppins";
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 15px;
}

@media (max-width: 576px) {

  .news h2 {
    font-size: 21px;
  }
}