.checkout-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 50px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 16px;
}

.checkout-page h3 {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: black;
  margin-bottom: 30px;
  white-space: nowrap; 
}

.checkout-page input.sign-in {
  width: 80%;
  padding: 12px 15px;
  border: 1px solid #e7d4f2;
  border-radius: 10px;
  font-size: 16px;
  color: #292929;
  background: #E5DCF1;
  transition: border 0.2s ease;
}

.checkout-page input.sign-in:focus {
  outline: none;
  border-color: #6A4FB6;
  box-shadow: 0 0 0 2px rgba(106, 79, 182, 0.15);
}

.checkout-page input.sign-in:disabled {
  background: #E5DCF1;
  color: #6A4FB6;
  cursor: not-allowed;
}

.sign {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -5px;
  font-size: 14px;
  color: #b275c6;
  font-weight: 600;
}

.socials {
  display: flex;
  column-gap: 20px;
  margin-bottom: -10px;
  justify-content: center;
}

.google {
  background-color: #efefef;
}

.facebook {
  background-color: #1a42c8;
  color: #ffffff;
}

.google,
.facebook {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.google:hover,
.facebook:hover {
  transform: scale(1.1);
}

.checkout-page button.continue {
  margin-top: 20px;
  width: 60%;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}

.checkout-page button.continue:hover {
  background-color: #a983c1;
}

.create-account {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #292929;
}

.checkout-page p.create-account {
  white-space: nowrap;
}

.create-account button.create-here {
  margin: 0;
  color: #a983c1;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: transparent;
  font-size: 14px;
}

.create-account button.create-here:hover {
background-color: transparent;
text-decoration: underline 2px;
}

@media (max-width: 576px) {
  .checkout-page {
    padding: 80px 20px;
    gap: 20px;
  }

  .checkout-page h3 {
    font-size: 24px;
    white-space: wrap;
  }

  .checkout-page input.sign-in {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
    padding: 10px 12px;
  }

  .checkout-page button {
    font-size: 16px;
    padding: 12px;
  }

  .checkout-page .google,
  .checkout-page .facebook {
    width: 30px;
    height: 30px;
  }

  .checkout-page .create-account {
    font-size: 13px;
  }

  .checkout-page .create-account span {
    font-size: 13px;
  }
}
