footer{
    padding: 50px 100px 30px 100px;
    border-top: solid 3px #e1e1e1;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}

footer .col-1 {
    display: flex;
    flex-direction: column;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:  black;
}

footer li {
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    cursor: pointer;
}

footer .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer .col-2 .mastercard {
    width: 60px;
    height: 40px;
}

footer .col-2 .visa {
    width: 70px;
    height: auto;
}

footer .col-2 .pix {
    width: 80px;
    height: auto;
}

footer .col-2 .boleto {
    width: 70px;
    height: auto;
}

footer .col-3 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer .col-3 img {
    width: 30px;
    height: auto;
    border-radius: 20%;
}

footer h4 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    text-align: start;
}

.payments {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 250px;
}

.sociais {
    display: flex;
    gap: 10px;
}

@media (max-width:576px){
    footer{
    padding: 20px;
    }

    footer ul {
        gap: 5px;
        margin-top: -15px;
    }

    .footer-container{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer h4 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
footer .col-2 .mastercard {
    width: 40px;
    height: 20px;
}

footer .col-2 .visa {
    width: 40px;
    height: auto;
}

footer .col-2 .pix {
    width: 40px;
    height: auto;
}

footer .col-2 .boleto {
    width: 40px;
    height: auto;
}

    footer .col-1,
    footer .col-2,
    footer .col-3 {
        width: 120px;
    }

    .payments, .sociais {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
        gap: 8px; /* espaçamento entre os itens */
        justify-items: center; /* centraliza os ícones */
        align-items: center;
        width: 50%;
    }

    footer .col-3 img {
    width: 20px;
    }
}